#calendar{
    height: calc(100vh - 200px) !important;
}

.fc-button-primary{
    background-color: #1e7afd !important;
}

.dataTables_length {
    float: left;
    margin-left: 2rem;
}

.toolbar{
    float: right;
    margin-right: 2rem;
}

#usersTable_filter{
    float: right;
    label{
        font-size: 19px;

        input{
            padding-left: 1rem;
            font-size: 19px;
            width: 15rem;
        }
    }
}

.dataTables_info{
    float: left;
    margin-left: 1rem;
}

.pagination{
    margin-right: 1rem !important;
}

.dataTables_scrollBody{
    margin-bottom: 0.5rem;
}

.dataTables_scrollHeadInner{
    width: 100% !important;

    table{
        width: 100% !important;
    }
}

#pills-tab{
    width: 1320px;
    padding-left: 12px;
    z-index: 99;
}

@media (min-width: 1400px){
    #pills-tab{
        width: 1320px;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){
    #pills-tab{
        width: 1140px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    #pills-tab{
        width: 960px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #pills-tab{
        width: 720px;
    }
}